body {
    background-color: dodgerblue;
}

h1 {
    background-color: aliceblue;
    text-align: center;
    text-decoration-color: black;
    margin: 10%;
    border: 5px solid;
    border-color: aliceblue;
}

img {
    margin: 10%;
    padding: 2%;
    background-color: aliceblue;
    border: 5px solid;
    border-color: aliceblue;
    border-radius: 10%;
}

p {
    background-color: aliceblue;
    text-align: center;
    text-decoration-color: black;
    margin: 10%;
    padding: 2%;
    border: 5px solid;
    border-color: aliceblue;
}